/code/admin/.DS_Store
/code/admin/node_modules/
/code/admin/dist/
/code/admin/npm-debug.log*
/code/admin/yarn-debug.log*
/code/admin/yarn-error.log*
/code/admin/package-lock.json
/code/admin/tests/**/coverage/
/code/admin/.idea
/code/admin/.vscode
/code/admin/*.suo
/code/admin/*.ntvs*
/code/admin/*.njsproj
/code/admin/*.sln


/code/front/.DS_Store
/code/front/node_modules/
/code/front/dist/
/code/front/npm-debug.log*
/code/front/yarn-debug.log*
/code/front/yarn-error.log*
/code/front/package-lock.json
/code/front/tests/**/coverage/
/code/front/.idea
/code/front/.vscode
/code/front/*.suo
/code/front/*.ntvs*
/code/front/*.njsproj
/code/front/*.sln


/code/server/__py
/code/server/server/__pycache__
